{% extends "base.html" %}
{% load humanize %}
{% load tutorial_tags %}
{% block title %}{{ block.super }}Marking Sheets for {{ user.displayname }}{% endblock title %}
{% block javascript %}
    {{ block.super }}
    <script>


        $(document).ready(function() {
            $("td.session_score").click(function(event){
                var session=$(this).attr('id');
                var req="/tutorial/engagement/admin_submit/"+session;
                var res="/tutorial/engagement/admin_result/"+session;
                $.get(req, function(data) {
                    $("#dialog_container").html(data);
                    $("#engagement_grid").dialog({"model":true,
                        "autoOpen":true,
                        "width": "aito",
                        "close":  function( event, ui ) {
                            console.log(res+"!!");
                            $.get(res, function(data) {var selesctor="td#"+session; console.log(data+"m "+selesctor+"="+$('td#'+session).html()); $('td#'+session).html(data) });
                            $(this).dialog('destroy').remove();
                        },
                        "draggable":true });
                })

            })
        })
    </script>
{% endblock javascript %}

{% block css %}
    {{ block.super }}
    <style>
        .semester {
            text-align: center;
        }
        .active_semester {
            background-color:#b31b1b;
            font-weight:bold;
        }
        td.semester.active_semester > a {
            color: white;
        }
        td.semester.inactive_semester > a {
            color: black;
        }
        th > span > a {
            color: white;
        }
    </style>

{% endblock css %}

{% block content %}
    <h2>Monitor Student Attendance and Engagement with Tutorials</h2>

    <form action="" id="cohort_form" method="POST">
        {% csrf_token %}
        {{ form }}
    </form><br/>
    <p>Click on the student name to see a detailed record for that student. Click on the status for a student to open an email to them.
        The more red either of the status indicators are for the student the worse their recent engagement (first column) or overall Attendance
        pattern has been. Clicking on the tutorial group header will open an email to the tutor and the colour indicates how up to date they are
        with fulling in attendance data.</p>
    <table width=100% role="presentation" aria-label="Semester Selection">
        <tr>
            <td colspan=6 class='semester{% if semester == 1 %} active_semester{% else %} inactive_semester {% endif %}'>
                <a href=/tutorial/admin/engagement/1/{{ cohort.name }}/>Semester 1</a>
        </td>
        <td colspan=8 class='semester{% if semester == 2 %} active_semester{% else %} inactive_semester {% endif %}'>
            <a href=/tutorial/admin/engagement/2/{{ cohort.name }}/>Semester 2</a>
    </td>
    </tr>
    </table>
    <div id="tutorial_table" class="table-container" tabindex="0">
        <table width=100% role="table" aria-label="Summary of student engagement">
            <tr hx-get="/tutorial/engagement_view/{{ semester }}/{{ cohort.name }}/{{ next_code }}/?codes={{ codes|urlencode }}"
                hx-swap="outerHTML"
                hx-target="#table_part" hx-trigger="intersect once"
                hx-include="form" id="table_part">
                <td class="text-center" colspan="15">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="dialog_container" role="dialog" aria-label="Popup dialog for entering engagement data">
        <div id="engagement_grid">&nbsp;</div>
    </div>


{% endblock content %}
