{% extends "base.html" %}
{% load humanize %}
{% load flatpages %}
{% load tutorial_tags %}
{% block title %}{{ block.super }}Marking Sheets for {{ user.displayname }}{% endblock title %}
{% block javascript %}
    {{ block.super }}
    <script>
        $(document).ready(function() {
            $("#engagement_grid").dialog({"autoOpen":false });
            document.body.addEventListener('htmx:afterSwap', function(evt) {
                $("a.session").click(function(event){
                    var session=$(this).attr('id');
                    var req="/tutorial/engagement/submit/"+session;
                    console.log(req);
                    $.get(req, function(data) {
                        $("#dialog_container").html(data);
                        $("#engagement_grid").dialog({"model":true,
                            "autoOpen":true,
                            "width": "auto",
                            "close":  function( event, ui ) {
                                location.reload();
                            },
                            "draggable":true });
                    })
                    event.stopPropagation();
                    event.preventDefault();
                    return false;
                })
            });

        })
    </script>
{% endblock javascript %}
{% block css %}
    {{ block.super }}
    <style>
        .semester {
            text-align: center;
        }
        .active_semester {
            background-color:#b31b1b;
            font-weight:bold;
        }
        td.semester.active_semester > a {
            color: white;
        }
        td.semester.inactive_semester > a {
            color: black;
        }
    </style>

{% endblock css %}

{% block content %}
    {% get_flatpages '/tutorial/index/' as pages %}
    {{ pages.first.content | safe }}
    <form action="" id="cohort_form" method="POST">
        {% csrf_token %}
        {{ form }}
    </form><br/>
    <div class="table-container table-responsive" tabindex="0">
        <table width=95% role="presentation" aria-label="Semester Selection">
            <tr>
                <td colspan=6 class='semester{% if semester == 1 %} active_semester{% else %} inactive_semester{% endif %}'><a href=/tutorial/engagement_view/1/{{ cohort.name }}/>Semester 1</a></td>
            <td colspan=8 class='semester{% if semester == 2 %} active_semester{% else %} inactive_semester{% endif %}'><a href=/tutorial/engagement_view/2/{{ cohort.name }}/>Semester 2</a></td>
    </tr>
    </table>
    </div>
    <div hx-get="/tutorial/engagement_view/{{ semester }}/{{ cohort.name }}/{{ next_code }}/?codes={{ codes|urlencode }}"
         hx-include="form"
         hx-swap="outerHTML"
         hx-target="#table_part"
         hx-trigger="revealed"
         id="table_part">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div id="dialog_container" role="dialog" aria-label="Popup dialog for entering engagement data">
        <div id="engagement_grid">&nbsp;</div>
    </div>


{% endblock content %}
