{% extends "base.html" %}

{% block title %}{{ block.super }}{{ meeting.name }}{% endblock title %}

{% block content %}
    <h1>{{ meeting.name }}</h1>
    <dl>
        <dt>Module</dt>
        <dd>{{ meeting.module.code }}</dd>
        <dt>Due</dt>
        <dd>Semester {{ meeting.due_semester }}, week {{ meeting.due_week }}</dd>
    </dl>

    {% if meeting.notes %}
        <h2>Notes</h2>
        <div>{{ meeting.notes|safe }}</div>
    {% endif %}

    {% if questions %}
        <h2>Questions</h2>
        <ol>
            {% for question in questions %}
                <li>
                    {{ question.text|safe }}
                    <small class="text-muted">({{ question.get_type_display }})</small>
                </li>
            {% endfor %}
        </ol>
    {% endif %}

    <div class="mt-3">
        <a class="btn btn-lg btn-secondary" href="#" onclick="window.history.back(); return false;">
            <span class="bi bi-arrow-left-circle" aria-hidden="true"></span> Back
        </a>
    </div>
{% endblock content %}
