{% extends "tutorial/wizard.html" %}
{% block instructions %}<p>The comments on this page are not part of the routine feedback to the student (but
    they do have a right to see it under data protection legislation!) and should be used to provide additioonal
    explanation or justification of marks to the examoiners.</p>
    <p>The score is generated based on the marks you gave on the previous page and the rubric for this marksheet, but you
        can adjust it here if you wish. If you do so, you must explain your reasoning in the comments box on this page.</p>
{% endblock %}
