{% extends "easy_pdf/base.html" %}

{% block extra_style %}
    <style type="text/css">
    
@page {
    margin: 2cm 2cm; padding-left: 0.5cm;
    }
    
body {
    background-color: white;
    font-size: 11pt;
    font-family: "Times New Roman", serif;

}

h1 {
    margin: 0 0 0 0.5cm;
    padding 0;
    text-align: center;
    font: 16pt "Times New Roman",serif;

}

table.scale_class {
    width: 17cm;
    margin-left: 0;
    margin-top: -0.5cm;
    margin-bottom: 0;
    margin-right: 0;
}

td.scale-spacer {
    width: 7cm;
}

table.scale_none {
    width: 17cm;
    margin-top: -0.5cm;
}

table.scale_class tr td {
    border: none;
    font-weight: normal;
    text-align: center;
    border-collapse: collapse;
}

table.scale_class tr td.selected {
    border-bottom: 1px solid red;
    font-weight: bold;
    color: red;
    text-align: center;
}

table.head_table {
    width: 17cm;
    border-collapse: collapse;
    border: 1px solid black;
    padding-left: -1cm;
}

table.head_table td {
    font: 12pt "Ariel",sans-serif;
    padding-left: 1cm;
    padding-top: 0.1cm;
    border-collapse: collapse;
    border: 1px solid black;
}

hr.break {
    page-break-after: always;
}

hr.space {
    height: 0.25cm;
}

.rubric {
    font-weight: bold;
}    

.rubric p {
    font-weight: bold;
}    


</style>
{% endblock %}

{% block content %}
<h1>PHYS {{ config.MODULE_CODE }}/12 {{ sheet.type.name }}({{ sheet.type.code }})</h1>
<table class="head_table">
    <colgrpoup>
        <col style="width: 12cm;"/>
        <col/>
    </colgroup>
    <tbody>
        <tr>
            <td colspan=2>{{ student.display_name }}</td>
        </tr>
        <tr>
            <td>{{ project.title|safe }} ( {{ project.code }})</td>
            <td>{{ project.list_groups }}</td>
        </tr>
        <tr>
            <td>Marker: {{ marker.display_name }}</td>
            <td>{% now "jS F Y" %}<//td>
        </tr>
    </tbody>
</table>
<hr class="space"/>
{{ marktype.instructions|safe }}
{% for score in scores %}
    <div class="rubric">{{ score.rubric.text|safe }}</div>
    {{ score.html|safe }}
</hr class="space"/>
{% endfor %}
<hr class="break"/>
<h3>Comments for the Examiner</h3>
<p>{{ sheet.comment|safe }}</p>
<h3>Overall Score :{{ sheet.score }}%</h3>
<hr/>
{% endblock %}


