{% extends "base.html" %}
{% load tutorial_tags %}
{% block title %}
    {{ block.super }} Current Status fr {{ user.display_name }}
{% endblock title %}
{% block css %}
    {{ block.super }}
    <style>
        a.vital_link {
            color: inherit;
            text-decoration: inherit;

        }
        a.vital_link:hover {
            text-decoration: underline;
        }
        .bg-secondary {
            background-color: #5c656d!important;
        }
        .bg-success {
            background-color: #157040!important;
        }
        .bg-primary {
            background-color: #0b40cd!important;
        }
        .bg-danger {
            background-color: #cc1525!important;
        }

        img.pie {
            max-width: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        @media screen and (max-width: 900px) {
            img.pie {
                max-width: 360px;
            }
        }

        li.vital_passed {
            list-style-type: "\2713";
        }
        li.vital_failed {
            list-style-type: "\2A2F";
        }

    </style>
{% endblock css %}
{% block javascript %}
    {{ block.super }}
    <script>
        $(document).ready( function() {
            if (window.location.hash ){
                link=window.location.hash+"_link";
                htmx.trigger(link, "click");
            }
        })
    </script>
{% endblock javascript %}
{% load django_bootstrap5 %}
}
{% block content %}
    <p>Minerva data last updated: {{ config.LAST_MINERVA_UPDATE|date:"r"}}</p>
    <div class="col-sm-12">
        <div class="row text-sm-center fs-2" style="background-color: {{ user.activity_colour }}; display: block; width:100%; color: {{ user.activity_colour|comp_colour }};">
            <span>{{ user.friendly_name }} ({{ user.SID }})</span>
        </div>
        <div class="row fs-3">
            <div class="col-sm-4"><span>Tutor:</span></div>
            <div class="col-sm-8"><span><a href="mailto:{{ user.apt.email }}">{{ user.apt.formal_name }}</a></span></div>
        </div>
        <div class="row fs-3">
            <div class="col-sm-4"><span>Degree Programme:</span></div>
            <div class="col-sm-8"><span>{{ user.programme.name }} ({{ user.programme.code }})</span></div>
        </div>
        <ul class="nav nav-tabs" id="results_tabs" role="tablist">
            <li class="nav-item" role="presentation" id="dashboard-tab">
                <a href="#dashboard" class="nav-link{% if tab == '#dashboard' %} active{% endif %}"
                   data-bs-toggle="tab"
                   data-bs-target="#dashboard"
                   type="button"
                   role="tab"
                   aria-selected="{% if tab == '#dashboard' %}true{% else %}false{% endif %}"
                   hx-get = "{{ dashboard_path }}"
                   hx-target="#dashboard"
                   id="dashboard_link"
                   hx-swap="innerHtml">
                    <span class="fs-3">Dashboard</span>
                </a>
            </li>
            {% for category in categories.values %}
                <li class="nav-item" role="tab" id="{{ category.tag }}-tab">
                    <a href="{{ category.hashtag }}" class="nav-link{% if tab == cateory.hashtag %} active{% endif %}"
                       data-bs-toggle="tab"
                       data-bs-target="{{ category.hashtag }}"
                       type="button"
                       role="tab"
                       aria-selected="{% if tab == category.hastag %}true{% else %}false{% endif %}"
                       hx-get = "{{ category.path }}"
                       hx-target="{{ category.hashtag }}"
                       id="{{ category.tag }}_link"
                       hx-swap="innerHtml">
                        <span class="fs-3">{{ category.label }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content" id="results-tab-content">
            <div class="tab-pane fade{% if tab == '#dashboard' %} show active{% endif %}" id="dashboard" role="tabpanel" aria-label="Dashboard Tab">
                <div class="md-3 text-center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
            {% for category in categories.values %}
                <div class="tab-pane fade{% if tab == category.hashtag %} show active{% endif %}"  id="{{ category.tag }}" role="tabpanel" aria-label="{{ category.label }} Tab">
                    <div class="md-3 text-center">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
