{% load bootstrap3 %}
<div id="engagement_grid">
<form action="{{ url }}" method="post" enctype="multipart/form-data">{% csrf_token %}

    {{ formset.management_form }}
    {% if formset.errors %}
    {% bootstrap_formset_errors formset %}
    {% endif %}
    {% for form in formset %}
        <div class="col-md-12">
        {% if form.errors %}
        {% bootstrap_form_errors form %}
        {% endif %}
        {% for field in form %}
            <div class="col-md-6">
                {% bootstrap_field field layout="inline" %}
            </div>
        {% endfor %}
        </div>
    {% endfor %}

  <div class="col-md-12">
      <div class="col-md-6">
          &nbsp;
     </div>
     <div class="col-md-6">
    <input class="btn btn-success btn-lg" type="submit" value="Save" />
    </dv>
  </div>
</form>
</div>