{% for row_cats in plot_categories|reshape:3 %}
  <div class="row">
    {% with remainder=row_cats|length %}
      {% if forloop.last %}
        {% if remainder == 1 %}
          {% with cat=row_cats|last %}
            <div class="col-md-4">&nbsp;</div>
            <div class="col-md-4">
              <div class="card mb-3">
                <div class="card-body">
                  {% with tag=cat.tag %}
                    {% with plot=plots|index:tag score=scores|index:tag %}
                      <h5 class="card-title text-center">{{ cat.text }}{% if score is not None %}: {{ score|floatformat }}%{% endif %}</h5>
                      <img class="pie"  src='{{ plot.data }}' alt="{{ plot.alt }}" />
                    {% endwith %}
                  {% endwith %}
                </div>
              </div>
            </div>
            <div class="col-md-4">&nbsp;</div>
          {% endwith %}
        {% elif remainder == 2 %}
          <div class="col-md-4">
            {% with cat=row_cats|first %}
              <div class="card mb-3">
                <div class="card-body">
                  {% with tag=cat.tag %}
                    {% with plot=plots|index:tag score=scores|index:tag %}
                      <h5 class="card-title text-center">{{ cat.text }}{% if score is not None %}: {{ score|floatformat }}%{% endif %}</h5>
                      <img class="pie"  src='{{ plot.data }}' alt="{{ plot.alt }}" />
                    {% endwith %}
                  {% endwith %}
                </div>
              </div>
            {% endwith %}
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4">
            {% with cat=row_cats|last %}
              <div class="card mb-3">
                <div class="card-body">
                  {% with tag=cat.tag %}
                    {% with plot=plots|index:tag score=scores|index:tag %}
                      <h5 class="card-title text-center">{{ cat.text }}{% if score is not None %}: {{ score|floatformat }}%{% endif %}</h5>
                      <img class="pie"  src='{{ plot.data }}' alt="{{ plot.alt }}" />
                    {% endwith %}
                  {% endwith %}
                </div>
              </div>
            {% endwith %}
          </div>
        {% elif remainder == 3 %}
          {% for cat in row_cats %}
            <div class="col-md-4">
              <div class="card mb-3">
                <div class="card-body">
                  {% with tag=cat.tag %}
                    {% with plot=plots|index:tag score=scores|index:tag %}
                      <h5 class="card-title text-center">{{ cat.text }}{% if score is not None %}: {{ score|floatformat }}%{% endif %}</h5>
                      <img class="pie"  src='{{ plot.data }}' alt="{{ plot.alt }}" />
                    {% endwith %}
                  {% endwith %}
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      {% else %}
        {% for cat in row_cats %}
          <div class="col-md-4">
            <div class="card mb-3">
              <div class="card-body">
                {% with tag=cat.tag %}
                  {% with plot=plots|index:tag score=scores|index:tag %}
                    <h5 class="card-title text-center">{{ cat.text }}{% if score is not None %}: {{ score|floatformat }}%{% endif %}</h5>
                    <img class="pie"  src='{{ plot.data }}' alt="{{ plot.alt }}" />
                  {% endwith %}
                {% endwith %}
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
{% endfor %}
