{% load static %}
{% load sitetree %}
<DOCTYPE html>
<html lang="en">
    <head>
        {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock meta %}
        <title>{% block title %}Physics VITALS: {% endblock %}</title>
        {% block javascript %}
        <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.0.min.js" ></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
        <script>
        $(document).ready(function() {
            $("#searchbutton").on("click", function(event) {
                $("#searchbutton").toggleClass("bi-search").toggleClass("bi-chevron-double-up");
            });
        });
        </script>
        {% endblock javascript %}
        {% block css %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- Option 1: Include in HTML -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/theme.min.css">
        <link href="{% static 'css/phas_vitals.css' %}" rel="stylesheet">
        {%endblock css %}
    </head>
    <body>
        <header id="masthead" class="container-lg">
            {% block header %}
            <div class="float-start menu-button">
                <button id="btn__nav" class="fas fa-bars fa-lg" type="button" data-bs-toggle="offcanvas" data-bs-target="#sitemenu" aria-controls="sitemenu">
                    <span>Menu</span>
                </button>
            </div>
            <div class="logo">
                <a class="logo-full float-end" title="University of Leeds homepage" href="//www.leeds.ac.uk/">
                    <img class="js-png-svg-uri" data-uri="https://production2.leeds.ac.uk/jaducdn/themes/default/assets/dist/img/uol-logo.svg" src="https://production2.leeds.ac.uk/jaducdn/themes/default/assets/dist/img/uol-logo.svg" alt="University of Leeds logo">
                </a>
                <a class="logo-mark float-end" title="University of Leeds homepage" href="//www.leeds.ac.uk/">
                    <img class="js-png-svg-uri" data-uri="https://production2.leeds.ac.uk/jaducdn/themes/default/assets/dist/img/uol-logo-mark.svg" src="https://production2.leeds.ac.uk/jaducdn/themes/default/assets/dist/img/uol-logo-mark.svg" alt="University of Leeds logo">
                </a>
            </div>
            {% endblock header %}
        </header>
        <div class="container-lg collapse" id="sitesearch">
          <div class="card card-body">
            Sorry - not implemented yet!
          </div>
        </div>
        <div class="local-header container-lg">
            <div class="local-header-inner d-flex justify-content-between">
                <div class="local-header-title" role="navigation" aria-label="Home page link">
                    <a href="/">Physics VITALs Tracker</a>
                </div>
                <div class="local-header-search text-end" role="search">
                    <button id="searchbutton" class="bi bi-search" type="button" data-bs-toggle="collapse" data-bs-target="#sitesearch" aria-label="Open site search" aria-expanded="false" aria-controls="sitesearch">
                        <span class="icon-font-text">Search</span>
                    </button>
                </div>
            </div>
        </div>
        <nav id="mainmenu" class="container-lg mainmenu navbar bg-light navbar-expand" aria-label="Main Menu bar">
            <div class="container-fluid navbar-inner">
                {% sitetree_menu from "menu" include "trunk" template "sitetree/menu_bootstrap5.html" %}
            </div>
        </nav>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="sitemenu" aria-labelled-by="sitemenulabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="sitemenulabel">Menu</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                    {% sitetree_menu from "menu" include "trunk" template "sitetree/menu_bootstrap5.html" %}
            </div>
        </div>
        <main class="container-lg">
            {% block content %}base.html{% endblock %}
        </main>
        <footer class="container-lg">
            {% block footer %}
                {% with extra_class_ul="flex-wrap flex-row" %}
                   {% sitetree_menu from "footer" include "trunk" template "sitetree/menu_bootstrap5.html" %}
                {% endwith %}
            {% endblock footer %}
        </footer>
    </body>
</html>
